.wrapper {
    width: 80%;
    margin: 2rem auto 5rem auto;
}

nav {
    display: flex
}

.spacer {
    flex: 1;
}

.wrapper-column {
    width: 60%;
    margin: 2rem auto 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.wrapper-w60 {
    width: 60%;
    margin: 2rem auto 5rem auto;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.buttons a {
    width: 5rem;
}