<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="color:#FF6666;margin-right:0px">e</a><a class="navbar-brand">Restoran</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Početna <span class="sr-only">(current)</span></a>
            </li>
            @await Component.InvokeAsync("KategorijeMenu")

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Kontakt">Kontakt</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color:#FF6666;color:white" asp-controller="Prijava" asp-action="Index">Prijava</button>
        </form>
    </div>
</nav>
