<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eRestoran</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="color:#0275d8;margin-right:0px">e</a><a class="navbar-brand">Restoran</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Početna <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Ponuda" asp-action="Index">Ponuda</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Korisnik" asp-action="Index">Korisnici</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Uposlenik" asp-action="Index">Uposlenici</a>
                </li>

            </ul>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Postavke
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="Administrator" asp-action="PromjenaPodataka">Promjena podataka</a>
                    <a class="dropdown-item" asp-controller="Administrator" asp-action="PromjenaSifre">Promjena lozinke</a>
                </div>
            </div>

            <a class="btn btn-primary" id="odjava" asp-area="" asp-controller="Prijava" asp-action="Odjava">Odjavi se</a>
        </div>
    </nav>
    @RenderBody()


    <footer class="border-top footer text-muted">
        <div class="container" style="text-align:center">
            &copy; 2020 - eRestoran
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
