@{
    Html.RenderPartial("_GuestNavbar");
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>
    $('.carousel').carousel({
        interval: 2000
    })
</script>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin:0px auto;width:75%;text-align:center; margin-top:15px">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_1.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_2.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_3.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item  ">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_4.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_5.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_6.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item  ">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_7.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_8.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="thumbnail" style="border:1px solid #FF6666; border-radius:4px;height:210px; margin-bottom: 15px;padding:3px">
                        <img src="~/Images2/carousel2_9.jpg" style="height:200px;width:100%" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="picture_div" style="margin:5px auto; text-align:center;">
    <img src="~/Images2/RadnoVrijeme.jpg" alt="radno vrijeme" style="height:200px;width:350px" />
    <br /><br />

</div>

<div class="picture_div" style="margin:0px auto; text-align:center;">
    <h1 class="text text-center">Kontaktirajte nas</h1>
    <i class="fas fa-map-marker-alt">Adresa 24, 71 000 Sarajevo</i>
    <br />
    <i class="fas fa-phone">+387 62 000 000</i>
    <br />
    <i class="fas fa-phone">+387 62 111 111</i> <br />
    <i class="fa fa-envelope">erestoraninfo@gmail.com</i>
</div>

